@import "normalize";
@import "base";
@import "variable";
@import "common";

// 产品
.mmb_product {
  .product_title {
    height: 70rem/@base;
    line-height: 70rem/@base;
    background-image: linear-gradient(to bottom,#fff,#ccc);
    border-bottom: 1px solid @bdColor;
    border-top: 1px solid @bdColor;
    padding-left: 20rem/@base;
    font-size: 23rem/@base;
    position: relative;
    button {
      position: absolute;
      top: 10rem/@base;
      right: 30rem/@base;
      width: 110rem/@base;
      height: 50rem/@base;
      line-height: 30rem/@base;
      font-size: 23rem/@base;
      border-radius: 5rem/@base;
      box-shadow: 0 1rem/@base 2rem/@base #666;
      background-image: linear-gradient(to bottom,#ccc,#f5f5f5);
    }
  }
  .product_content {
    li {
      height: 260rem/@base;
      background-color: #fff;
      border-bottom: 1rem/@base solid @bdColor;
      a {
        display: block;
        .img {
          height: 260rem/@base;
          width: 30%;
          padding: 20rem/@base;
        }
        .detail {
          height: 260rem/@base;
          width: 70%;
          padding: 30rem/@base;
          padding-left: 0;
          position: relative;
          .detail_top {
            font-size: 26rem/@base;
            line-height: 35rem/@base;
          }
          .detail_bottom {
            position: absolute;
            bottom: 30rem/@base;
            left: 0;
            width: 100%;
            padding-right: 30rem/@base;
            color: #949297;
            font-size: 20rem/@base;
            p {
              font-size: 20rem/@base;
              line-height: 30rem/@base;
              &.price {
                color: #EA3900;
                font-size: 30rem/@base;
              }
            }
          }
        }
      }
    }
  }
  .paginator {
    height: 90rem/@base;
    display: flex;
    div {
      flex:1;
      padding-left: 50rem/@base;
      padding-top: 15rem/@base;
      position: relative;
      span {
        position: absolute;
        right: 50rem/@base;
        top: 15rem/@base;
        width:30rem/@base;
        height: 70rem/@base;
        border: 1px solid #989898;
        background-color: #E1E1E1;
        &.mui-navigate-right:after, &.mui-push-right:after {
          right: 2rem/@base;          
        }
      }
      &.pageBox {
        position: relative;
        ul.page {
          position: absolute;
          top:85rem/@base;
          left: 50rem/@base;
          background-color: #fff;
          border: 1px solid #ccc;
          border-top: none;
          text-align: center;  
          &.hide {
            display: none;
          }
          li {
            width: 148rem/@base;
            height: 70rem/@base;
            line-height: 70rem/@base;
          }
        }
      }
      button {
        width: 150rem/@base;
        height: 70rem/@base;
        line-height: 40rem/@base;
        margin: 0 auto;
        display: block;
        font-size: 30rem/@base;
      }
    }
  }
}